# Dependency directories
node_modules

# Optional npm cache directory
.npm

### Go template
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

### Java template
/target/
*.class

# User-specific stuff:
.idea
.vscode

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# builds
*/target
*/*/target

# spin
spin-demo/.spin
