global:
    postgresql:
        auth:
            username: "myuser"
            password: "p05tgr3$"
            database: "products"
audit:
  logHostname: true
  #logConnections: true
  #logDisconnections: true

metrics:
    serviceMonitor:
        enabled: true