global:
    postgresql:
        auth:
            username: "myuser"
            password: "p05tgr3$"
            database: "products"
audit:
  logHostname: true
  #logConnections: true
  #logDisconnections: true

metrics:
    serviceMonitor:
        enabled: true
        namespace: postgres
#primary:
#   extendedConfiguration:
#         logging_collector: "on"
#         log_statement: "all"
#         log_duration: "on"
#         shared_preload_libraries: "pg_stat_statements"
#         pg_stat_statements.track: "all"

